/*
 * @Author: Chaos J 
 * @Date: 2017-12-15 19:56:29 
 * @Last Modified by: Chaos J
 * @Last Modified time: 2017-12-15 20:21:35
 */
.textarea2 {
    clear: both;
}

.textarea2 textarea {
    display: block;

    width: 100%;
    min-height: 100px;
    resize: vertical;
    border: none;
    border: 1px solid #d2d6de;
    outline: none;
    background-color: #fff;

    padding: 6px 12px;
}

.textarea2 .textarea2-footer {
    display: block;

    border: 1px solid #d2d6de;
    border-top: none;
    background-color: #f9f9f9;
    min-height: 25px;

    padding: 2px 12px;

    color: #666
}

.textarea2 .textarea2-footer-right {
    float: right;
}

.textarea2 .textarea2-length {
    
}

.bold {
    font-weight: bold;
}